.container {
  border: 0.3rem solid #818B7E;
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 3rem;
  /* background-color: #dbcfc3; */
}

.row {
  /* border: 0.3rem solid #e4002b; */
  /* background-color: #333; */
  display: flex;
  flex-wrap: wrap;
  color: #A74D4A;
}

.col-3{
  margin-top:auto;
  color:#A74D4A;
}

.col-4 {
  margin-bottom: 18px;
  flex: 0 0 33.33%;
}

.load-more-button {
  cursor: pointer;
  background-color: #F5F5F5;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  color: #A74D4A;
}

.load-more-button:hover {
  background-color: #EAE6E1;
}

/* Add any additional styling as needed */

